/* ------------ 리셋 ------------ */
@import "reset.css";

/* ------------ font ------------ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    background: #111;
}
section {
    padding: 0 6rem;
}
#header {
    padding: 6rem;
}
#header .container {
    justify-items: center;
    text-align: center;
}
.main_tit h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: -0.025em;
    margin: 0 0 2rem;
    line-height: 1;
    color: #fff;
}
.filter_list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.filter_list li {
    display: flex;
    padding: 0 0.85em !important;
    height: 2em;
    border: 1px solid #ffffff1a;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #7c7c7c;
    min-width: 2rem;
    transition: all 0.2s ease;
}
.filter_list li:hover {
    color: #fff;
}
.filter_list li.active {
    background: #1e1e20;
    color: #fff;
}
#project {
    padding-bottom: 15rem;
}
.project_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.project_item {
    border-radius: 10px;
    overflow: hidden;
    background-color: #161616;
    border: 1px solid #ffffff1a;
}
.project_item .img_area {
    overflow: hidden;
    width: 100%;
    position: relative;
    aspect-ratio: 800 / 600;
    cursor: pointer;
}
.project_item .img_area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    transform: scale(1.001);
}
.project_item:hover .img_area img {
    transform: scale(1.05);
}
.project_item .txt_area .sub_tit {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.75rem 0.75rem 1.5rem 0.75rem;
    transition: color 0.2s ease;
    color: #7c7c7c;
}
.project_item:hover .txt_area .sub_tit {
    color: #fff;
}
.tag_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0 0.5rem 0.75rem;
}
.tag_list li {
    background-color: #232325;
    color: #aaa;
    padding: 0.25rem 0.625rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease;
}
.project_add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #aaa;
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: #161616;
    border: 1px solid #ffffff1a;
}
.project_add:hover {
    color: #212121;
    background-color: #eeeeeea8;
}
.txt_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.txt_box p {
    font-size: 22px;
}
.txt_box span {
    font-size: 30px;
}

#btn_top {
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    pointer-events: none;
    display: inline-grid;
    place-items: center;
    opacity: 0;
    transition: opacity 220ms ease, transform 220ms ease, box-shadow 150ms ease;
    z-index: 9999;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #eeeeeea8;
    color: #212121;
    box-shadow: 0 0 0 1px #ffffff14, 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}
#btn_top span {
    font-size: 24px;
    line-height: 1;
}
#btn_top.show {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
#project_toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0.85em !important;
    height: 2em;
    border-radius: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease;
    z-index: 9999;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px #ffffff14, 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
#project_toast.show {
    opacity: 1;
}

/* ------------ 미디어쿼리 ------------ */
@media (max-width: 991px) {
    #header {
        padding: 5rem 3rem;
    }
    #project {
        padding-bottom: 10rem;
    }
    section {
        padding: 0 3rem;
    }
}
@media (max-width: 767px) {
    .main_tit h1 {
        font-size: 51px;
    }
    .project_items {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px) {
    .project_items {
        grid-template-columns: repeat(1, 1fr);
    }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 57%);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
}
body.on {
    position: relative;
}
body.on::before {
    opacity: 1;
    visibility: visible;
}
.modal_area {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_card {
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    background-color: #161616;
    border: 1px solid #ffffff1a;
    box-shadow: 0 0 0 1px #ffffff14, 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
header.card_head {
    padding: 16px 20px;
    color: #fff;
}
header.card_head h2 {
    margin: 0;
    font-size: 18px;
}
.card_body {
    padding: 18px;
}
.card_body label {
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.btn {
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.35s ease;
}
.btn_primary {
    backdrop-filter: blur(10px);
    background-color: #eeeeeea8;
    color: #212121;
}
.btn_primary:hover {
    background-color: #fff;
}
.btn_ghost {
    background: transparent;
    border: 1px solid #ffffff1a;
    color: #7c7c7c;
}
.btn_ghost:hover {
    background: #1e1e20;
    color: #fff;
}
.form_row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form_row + .form_row {
    margin-top: 25px;
}
input[type="text"],
input[type="file"] {
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    background-color: #232325;
    color: #aaa;
    border: none;
    outline: none;
}
input[type="file"]::file-selector-button {
    width: 90px;
    height: 30px;
    margin-right: 10px;
    backdrop-filter: blur(10px);
    background-color: #eeeeeea8;
    color: #212121;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
footer.card_foot {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 12px 18px;
}
